* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
      font-size: 16px;
      scroll-behavior: smooth;
  }

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
    body {
        font-size: 1.2rem;
    }
    .main-content>h2 {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 768px) {
body {
    width: 100vw;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
}
@media screen and (max-width: 768px) {
    .container {
            width: 100%;
            max-width: 100%;
            padding: 0 410px;
        }
}

header {
    display: flex;
    position: relative;
    padding: 0 20px;
    background-image: url("https://i.ibb.co/GFnBdPt/Job-Interview.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-between;
    align-items: center;
    height: 30rem;
    z-index: 1000;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    header {
        height: 20rem;
        font-size: 1.4rem;
        padding: 10px 0;
    }
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgba(50, 47, 47, 0.047), rgba(220, 219, 219, 0.581));
    pointer-events: none;
    z-index: -1;
}

main {
    padding: 10px;
}

.main-content {
    text-align: center;
}
.main-content > h2 {
    font-size: 1.5em;
}
.header{
    text-align: center;
    padding-top: 30px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 70px;
    max-width: 100%;
    max-height: 7vh;
    margin: 10px;
    padding: 0;
}

@media screen and (max-width: 750px) {
    .logo {
        max-height: 8vh;
    }
}
#nav-bar {
    display: flex;
    justify-content: center;
}

#nav-bar ul {
    list-style: none;
    display: flex;
    flex-direction: wrap;
    justify-content: center;
}

#nav-bar ul li {
    margin-top: 10px;
    margin-right: 10px;
}

.nav-link {
    color: #4e3535;
    text-decoration: none;
    padding: 10px 7px;
    font-weight: bold;
    text-shadow: 0 0 4.5px rgba(0, 0, 0, 0.544);
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.nav-link:hover {
    color: #325a60;
}

/* @media screen and (max-width: 768px) {
    .nav-link {
        padding: 5px 7px;
        font-size: 0.68rem;
    }
} */

#instagram-media {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
}

#instagram-media>iframe {
    max-width: 100%;
    width: 50%;
}

  footer {
      display: flex;
      justify-content: center;
      position: relative;
      padding: 15px 20px;
      background-image: linear-gradient(135deg, #F05F57 10%, #360940 100%);
      font-style: italic;
  }

  footer>p {
      margin: 2rem;
  }

  .rhr-academy {
      font-size: small;
      display: inline-block;
      justify-items: left;
      font-weight: 300;
  }

#main-content1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.section-i {
    flex: 1;
    max-width: 100%;
    display: inline-block;
    justify-content: space-between;
    flex-direction: column;
    max-width: 150px;
    max-height: 320px;
    margin-bottom: 20px;
    width: 80vw;
    border-radius: 20px;
    background-color: #f9f9f9;
}

.hero:first-child {
    margin-right: 50px;
}

.hero {
    display: inline-block;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    max-height: auto;
    margin-top: 1.5rem;
    padding: 20px;
    border-radius: 20px;
    background-color: #f0f0f0;
}

.section-i {
    margin-top: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: #f9f9f9;
}

ul li {
    list-style: none;
}