* {
    margin: 0;
    padding: 0;
}

html {
      box-sizing: border-box;
      font-size: 62.5%;
      scroll-behavior: smooth;
  }

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

header {
    display: flex;
    position: relative;
    min-height: 65px;
    padding: 0 20px;
    top: 0;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    justify-content: space-between;
    align-items: center;
    height: 17vh;
    width: 100%;
}

main {
    padding: 10px;
}

.main-content {
    text-align: center;
}
.main-content > h2 {
    font-size: medium;
}
.header{
    text-align: center;
    padding-top: 30px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
}

.logo {
    display: flex;
    align-content: flex-start;
    width: 100%;
    max-width: 175px;
    max-height: 190px;
    height: 10vh;
    width: 10vw;
    margin-left: 0;
    position: relative;
    padding: 0;
}

#nav-bar {
    display: flex;
}

#nav-bar ul {
    list-style: none;
    display: flex;
}

#nav-bar ul li {
    margin-top: 20px;
    margin-right: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.nav-link:hover {
    color: #ddd;
}

#instagram-media {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#instagram-media>iframe {
    max-width: 560px;
    width: 100%;
}

  footer {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      /* bottom: 0; */
      width: 100%;
      padding: 15px 20px;
      background-image: linear-gradient(135deg, #F05F57 10%, #360940 100%);
      font-style: italic;
  }

  footer>p {
      margin: 2rem;
  }

  .rhr-academy {
      font-size: small;
      display: inline-block;
      justify-items: left;
      font-weight: 300;
  }

#main-content1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    /* margin-left: 20%; */
}

.section-i {
    display: inline-block;
    justify-content: space-between;
    flex-direction: column;
    max-width: 150px;
    max-height: 300px;
    margin-bottom: 20px;
}

.hero:first-child {
    margin-right: 50px;
}

.hero {
    display: inline-block;
    justify-content: center;
    flex-direction: column;
    max-width: 150px;
    max-height: 300px;
    margin-bottom: 20px;
}

.hero {
    padding: 20px;
    border-radius: 20px;
    background-color: #f0f0f0;
}

.section-i {
    margin-top: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: #f9f9f9;
}

ul li {
    list-style: none;
}