* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

header {
    display: flex;
    position: relative;
    min-height: 65px;
    padding: 0 20px;
    top: 0;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    justify-content: space-between;
    align-items: center;
    height: 17vh;
    width: 100%;
}

.main-content1 {
    display: inline-block;
}

main {
    padding: 10px;
}

.main-content {
    text-align: center;
}

.main-content>h2 {
    font-size: medium;
}

.header {
    text-align: center;
    padding-top: 30px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
}

.logo {
    display: flex;
    align-content: flex-start;
    width: 100%;
    max-width: 175px;
    max-height: 190px;
    height: 10vh;
    width: 10vw;
    margin-left: 0;
    position: relative;
    padding: 0;
}

#nav-bar {
    display: flex;
}

#nav-bar ul {
    list-style: none;
    display: flex;
}

#nav-bar ul li {
    margin-top: 20px;
    margin-right: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.nav-link:hover {
    color: #ddd;
}

  footer {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      /* bottom: 0; */
      width: 100%;
      padding: 15px 20px;
      background-image: linear-gradient(135deg, #F05F57 10%, #360940 100%);
      font-style: italic;
  }

  footer>p {
      margin: 2rem;
  }

  .rhr-academy {
      font-size: small;
      display: inline-block;
      justify-items: left;
      font-weight: 300;
  }

.profile {
    gap: 0;
    margin-top: 0;
    margin-left: 0;
    text-align: inherit;
}
.image-text-wrapper {
    display: flex;
    justify-content: space-between;
}

.tech1:first-child {
    margin-right: 100px;
}

main {
    text-align: center;
}

.tech1 {
    display: inline-block;
    justify-content: center;
    flex-direction: column;
    max-width: 350px;
    max-height: 300px;
    margin-bottom: 20px;
    border-radius: 360px 360px;
    height: 250px;
    width: 250px;
}

.tech1 {
    padding: 20px;
    border-radius: 360px;
    background-color: #f0f0f0;
}

.good {
    flex-direction: initial;
    text-align: center;
        /* display: inline-flex;
            justify-content: space-between;
            flex-direction: column;
            max-width: 500px;
            max-height: 300px;
            margin-bottom: 20px; */
    }

.tech2 {
        height: 250px;
        width: 250px;
        border-radius: 360px 360px;
        display: inline-block;
        justify-content: center;
        flex-direction: column;
        max-width: 5000px;
        max-height: 300px;
        margin-left: 50px;
        padding-right: 10;
    }
.tech3 {
        height: 250px;
        width: 250px;
        border-radius: 360px 360px;
        display: inline-flex;
        justify-content: center;
        flex-direction: row;
        max-width: 5000px;
        max-height: 300px;
        margin: 10px 15px;
        padding-right: 10;
    }

.tech4 {
        height: 250px;
        width: 250px;
        border-radius: 360px 360px;
        display: inline-block;
        justify-content: center;
        flex-direction: column;
        max-width: 5000px;
        max-height: 300px;
        margin: 10px 15px;
        padding-right: 10;
    }
.tech5 {
        height: 250px;
        width: 250px;
        border-radius: 360px 360px;
        display: inline-block;
        justify-content: center;
        flex-direction: column;
        max-width: 5000px;
        max-height: 300px;
        margin: 10px 15px;
        padding-right: 10;
    }

.Onboarding1 {
    position: relative;
}
