* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
.first-nav{
    width: 100%;
    height: 8vh;
    background-color: #007bff;
    display: flex;
    color: #fff;
    gap: 10px;
    cursor: pointer;
    
}
.envelope{
    margin-left: 6%;
    margin-top: 23px;
    width: 25px;
    height: 30px;
}
.phonecall{
    margin-left: 15px;
    width: 25px;
    height: 35px;
    margin-top: 20px;
}
.vertical-line {
    border-left: 1px solid #ffff; 
    height: 100px;
    margin-left: 20px;
    margin-top: 0;
 }
nav p{
    margin-top: 28px;
    font-weight: 600;
    font-size: large;
}

 nav p {
    transition: opacity 0.5s ease; 
}

nav p:hover {
    opacity: 0; 
}

nav p:not(:hover) {
    opacity: 1; 
}
section {
    display: flex; 
    gap: 24%;
    margin-top: 50px;
    margin-left: 80px;
}

.images {
    width: 120px; 
    max-width: ;
    margin-left: 20px;
 }
 section p{
    margin-top: 20px;
    font-size: large;
    font-weight: 600;
 }


header {
    position: relative;
    background-color: #fff;
    text-align: center;
    padding-top: 2.5rem;
    
}

.logo-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0;
    z-index: 2;
    margin-top: ;
}

.logo {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 70px;
    max-width: 100%;
    max-height: 7vh;
    margin-left: 10%;
    margin-top: 30px;
    padding: 0;
}

/*@media screen and (max-width: 750px) {
    .logo {
        max-height: 8vh;
    }
}*/

.header-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
    z-index: 1;
}

/*.header-image-container {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 30px;
}*/


.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    width: 80%;
    text-shadow: 0 0 1.5px rgba(0, 0, 0, 0.5);
    margin-left: 30px;
}

#nav-bar {
    display: flex;
    justify-content: center;
    margin-left: 8%;
    font-size: large;
    font-weight: 600;
    color: #000;
}

#nav-bar ul {
    list-style: none;
    display: flex;
    color: #000;
    
}

#nav-bar ul li {
    margin-top: 20px;
    margin-right: 20px;
}

.nav-link {
    color: #000;
    text-decoration: none;
    padding: 10px;
}

.nav-link:hover {
    color: #777;
}

main {
    display: flex;
    margin-top: 10%;
    margin-left: 20px;
    gap: 25%;
    margin-bottom: 50px;
}

    .container-main{
    max-width: 800px;
    background-color: #f5f5f5;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50vw;
    height: 50vh;
    margin-top: 50px;
    margin-right: 20px;
    padding: 10px;
}

.container h2 {
    margin-bottom: 20px;
}

.contact-info,
form {
    margin-bottom: 20px;
}

.contact-info h3,
form h3 {
    margin-bottom: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
    background-color: #f4f4f4;
    align-items: start;
    min-height: 100vh;
}

.Footer{
    background-color: #007bff;
    color: #fff;
    
}
.footer {
    display: flex;
    gap: 100px;
    color: #fff;
    background-color: #007bff;
    border-top: 1px solid #e5e5e5;
    max-height: 100rem;
    padding: 30px 30px 20px 30px;
    margin-right: 70px;
}

/*.footer>* {
    flex: 1 100%;
}

.footer-addr {
    margin-right: 1.2 em;
    margin-bottom: 2em;
}*/

.footer-logo {
    font-family: 'Georgia', cursive;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: crimson;
}

.footer-addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-title {
    font-weight: 400;
    font-size: 15px;
}

.footer address {
    font-style: normal;
    color: #999;
}

.footer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: #fff;
    border-radius: 30px;
    color: #007bff;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.footer-nav {
    display: flex;
    flex-flow: row wrap;
}

.footer-nav>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.nav-ul a {
    color: #fff;
}

.nav-ul-extra {
    column-count: 2;
    column-gap: 1.25em;
}

.copyright {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
}

.copyright-link {
    display: flex;
    align-items: center;
}

.heart {
    color: #2f2f2f;
}

@media screen and (max-width: 768px) {
    .copyright .copyright-link {
        margin-left: auto;
    }
}

@media screen and (max-width: 768px) {
    .footer-nav>* {
        flex: 1;
    }

    .nav-item-extra {
        flex-grow: 2;
    }

    .footer-addr {
        flex: 1 0px;
    }

    .footer-nav {
        flex: 2 0px;
    }
}
